.button {
	color: #ffffff;
	font-size: 14px;
	line-geight: 20px;
	text-align: center;
	cursor: pointer;
}
table {border-collapse: collapse;}
td.readOnly {background-color: lightblue}
input.readOnly {background-color: lightblue}
td > input {border:none}
td > select {border:none}
.selected  {background-color: #80ff80 }
.error     {color:red}
input[type="button"]:focus {border:2px}