.button {
	color: #ffffff;
	font-size: 14px;
	line-geight: 20px;
	text-align: center;
	cursor: pointer;
}
table {border-collapse: collapse;}
td.readOnly {background-color: lightblue}
textarea.readOnly {background-color: lightblue}
input.readOnly {background-color: lightblue}
input.ucase {text-transform: uppercase}
td > input {border:none}
td > select {border:none}
td > textarea {border:none}
td.c {text-align: center}
td.r {text-align: right}
div a {border:2px solid black}
.selected  {background-color: #80ff80 }
.error     {color:red}
.dim      {color:blue}
.box      {border: 1px solid black;}
/* input[type="button"]:focus {border:2px}