<div ng-controller="btn">
<input type="button" value="{{lbl.btn.add}}" ng-If="shw.add" ng-click="do_mode('add')"/>
<input type="button" value="{{lbl.btn.upd}}" ng-If="shw.upd" ng-click="do_mode('upd')"/>
<input type="button" value="{{lbl.btn.dlt}}" ng-If="shw.dlt" ng-click="do_mode('dlt')"/>
<input type="button" value="{{lbl.btn.dea}}" ng-If="shw.dea" ng-click="do_mode('dea')"/>
<input type="button" value="{{lbl.btn.rea}}" ng-If="shw.rea" ng-click="do_mode('rea')"/>
<input type="button" value="{{lbl.btn.imp}}" ng-If="shw.imp" ng-click="do_mode('imp')"/>
<input type="button" value="{{lbl.btn.exp}}" ng-If="shw.exp" ng-click="do_mode('exp')"/>
<input type="button" value="{{lbl.btn.log}}" ng-If="shw.log" ng-click="do_mode('log')"/>
<br><br>
{{mode}}
</div>