<div ng-controller="left">
    <table>
        <tr>
            <td>
                <table border="1px">
                    <tr>
                        <td colspan="2">{{lbl.txt.total}}
                        <td class="readOnly">{{src.data.length}}
                    <tr>
                        <td>{{lbl.txt.filter}}
                        <td><input type="button" value="x" ng-click="rno=filter=''"/>
                        <td><input ng-model="filter" type='text' size="4" autofocus/>
                    <tr>
                        <td colspan="2">{{tar.data.length===0?"":"1-"+tar.data.length}}
                        <td><input ng-model="rno" type="text" size="4" maxlength=4/>
                </table>
            <td>
                <table border="2px">
                    <tr>
                        <td><input tabindex="-10" style="width:55px" type="button" ng-value="lbl.btn.top"
                                   ng-click="rno=1"/>
                        <td><input tabindex="-1" style="width:55px" type="button" ng-value="lbl.btn.up"
                                   ng-click="rno = (rno>1 ? rno-1 : 1)"/>
                    <tr>
                        <td><input tabindex="-1" style="width:55px" type="button" ng-value="lbl.btn.buttom"
                                   ng-click="rno=tar.data.length"/>
                        <td><input tabindex="-1" style="width:55px" type="button" ng-value="lbl.btn.down"
                                   ng-click="rno=(rno < tar.data.length ? rno+1 : tar.data.length)"/>
                    <tr>
                </table>
            <td>
    </table>

    <div id="tglBtn">
        <input name="{{btn0Nm}}" type="button" ng-class="(btn_selected[btn0Nm]) ? 'selected' : ''"
               tabindex="-1"
               draggable="true"
               ondragstart="angular.jj.ondragstart(event)"
               ondrop="angular.jj.ondrop(event)"
               ondragover="angular.jj.ondragover(event)"
               value="{{lbl.btn[btn0Nm]}}"
               ng-click="do_tgl_btn(btn0Nm)"/>
        <input name="{{btn1Nm}}" type="button" ng-class="(btn_selected[btn1Nm]) ? 'selected' : ''"
               tabindex="-1"
               draggable="true"
               ondragstart="angular.jj.ondragstart(event)"
               ondrop="angular.jj.ondrop(event)"
               ondragover="angular.jj.ondragover(event)"
               value="{{lbl.btn[btn1Nm]}}"
               ng-click="do_tgl_btn(btn1Nm)"/>
        <input name="{{btn2Nm}}" type="button" ng-class="(btn_selected[btn2Nm]) ? 'selected' : ''"
               tabindex="-1"
               draggable="true"
               ondragstart="angular.jj.ondragstart(event)"
               ondrop="angular.jj.ondrop(event)"
               ondragover="angular.jj.ondragover(event)"
               value="{{lbl.btn[btn2Nm]}}"
               ng-click="do_tgl_btn(btn2Nm)"/>
        <input name="{{btn3Nm}}" type="button" ng-class="(btn_selected[btn3Nm]) ? 'selected' : ''"
               tabindex="-1"
               draggable="true"
               ondragstart="angular.jj.ondragstart(event)"
               ondrop="angular.jj.ondrop(event)"
               ondragover="angular.jj.ondragover(event)"
               value="{{lbl.btn[btn3Nm]}}"
               ng-click="do_tgl_btn(btn3Nm)"/>
    </div>
    <br>
    <table border="2px">
        <tr>
            <th>##
            <th ng-repeat="hdr in tar.hdrAy">{{hdr}}</th>
        <tr ng-repeat="rec in tar.data" ng-class="($index==(rno-1)) ? 'selected' : '' " ng-click="do_sel_row()">
            <td>{{$index+1}}
            <td class="{{(rec.isDea==='1') ? 'dim' : ''}}" ng-repeat="td in rec.dr">{{td}}
    </table>
</div>