<div ng-controller="add">
    <input type="button" ng-value="lbl.btn.add" ng-click="do_add()"/>
    <input type="button" ng-value="lbl.btn.can" ng-click="do_can()"/>

    <form>
        <table border="2px" border-spacing="0px">
            <caption display="font-weight:bold">{{lbl.txt.add}}</caption>
            <tr>
                <td style="font-weight:bold">{{lbl.fld.regCd}}
                <td><input type="text" autofocus="true" ng-model="regCd"/>
                <td>{{msg}}
        </table>
        <div ng-repeat="i in addAy">{{i}}</div>
    </form>
</div>