<html ng-app="app">
<head lang="zh">
    <meta charset="UTF-8">
    <title>Add Region</title>
    <link href="../css/style.css" rel="stylesheet" title="Default Style">
    <script src="../stdlib/angular.js"></script>
    <script>angular.module('app', []);</script>
    <script src="../ngSvc/$lib.js"></script>
    <script>
        angular.module('app').controller('testAdd', ['$scope', function ($scope) {
            $scope.sess = {lang: 'en'};
            $scope.appRegion = {regCd: '', mode: '', addMsg: ''}
        }]);
    </script>
    <script src="add.js"></script>
</head>
<body ng-controller="testAdd">
<table border='2px'>
    <tr>
        <td>lang
        <td>
            <field><input type="radio" name='lang' ng-model='sess.lang' value="en">en</input></field>
            <field><input type="radio" name='lang' ng-model='sess.lang' value="zh">zh</input></field>
    <tr>
        <td>clear
        <td><input type="button" value="clear" ng-click="appRegion.mode = appRegion.regCd = appRegion.addMsg = ''"/>
    <tr>
        <td>mode
        <td class="readOnly">{{appRegion.mode}}
    <tr>
        <td>regCd
        <td class="readOnly">{{appRegion.regCd}}
    <tr>
        <td>message from php
        <td class="readOnly">{{appRegion.addMsg | json}}
</table>
<hr>
<ng-include src="'add.html'"/>
</body>
</html>