<!------------ secContent ---------------------------------------->
<hr id="secContent">
<div>
    <input type="button" value="{{lbl.btn.hdr}}" ng-click="go_id('secHdr')"/>
    <input type="button" value="{{lbl.btn.inst}}" ng-click="go_id('secInst')"/>
    <input type="button" value="{{lbl.btn.adr}}" ng-click="go_id('secAdr')"/>
    <input type="button" value="{{lbl.btn.content}}" ng-click="go_id('secContent')" class="selected"/>
        <span ng-repeat="j in data.content">
            <input type="button" ng-click="go_id('secCont' + $index)" value="{{$index+1}}"/>
        </span>
</div>
<table border="2px">
    <tr>
        <th>##
        <th>{{lbl.fld.des}}

    <tr ng-repeat="i in data.content">
        <td class="readOnly"><input type="button" value="{{$index+1}}" ng-click="go_id('secCont' + $index)"/>
        <td class="readOnly">{{i.des}}
</table>
<br>
