    <!--
    address: '地址',
    truck: '車輛',
    person:'人員',
    order:'柯打',
    gpsDta:'車輛GPS數據',
    truckAvail:'可用更輛',
    personAttend:'出勤人員',
    truckReturn:'回車',
    loadPlan: '當日載貨計劃',
    loadSheet:'載貨紙生成',
    loadSts:'當日出貨狀態',
    planPerson: '預計人員',
    planTrucks: '預計車輛',
    planSts: '預計出貨狀態',
    delvReport: '車輛到達統計',
    pivotReport: '柯打+出貨樞紐分析',
    chgPwd:'改密碼',
    user: '系統使用者',
    userAuth:'使用者權限',
    resetPwd:'密碼解鎖',
    enableUsr:'停止使用者'
    -->
    <!--
    <div ng-Controller="scnRegion_Controller" ng-If="scnNm==='region'" class="scnRegion">
        <input type="button" ng-click="goMnu()" value="menu"/><br>
        地區
    </div>

    <div ng-Controller="scnCustomer_Controller" ng-If="scnNm==='customer'" class="scnCustomer">
        <input type="button" ng-click="goMnu()" value="menu"/><br>
        客戶
    </div>
    -->